@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  box-sizing: border-box;
  line-height: 1.15;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden; 
}
[data-scroll-container] {
  overflow: hidden; /* Hide native scrollbars */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  line-height: 1.65;
}
.embla {
  width:100%;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  width:100%;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  width:100%;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:50vh;
  user-select: none;
}
.embla__controls {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: green;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  gap:2px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color:#4CAF4F;
  opacity:30%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  background-color:#4CAF4F;
  opacity:100%;
}

.embla_client {
  width:100%;
  --slide-size: 13%;
}
.embla__viewport_client {
  overflow: hidden;
}
.embla__container_client {
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: pan-y pinch-zoom;
  margin-left: 10px;
}
.embla__slide_client {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
}
@media not all and (min-width: 768px) {
  .embla__slide_client {
    transform: translate3d(0, 0, 0);
    flex: 0 0 25%;
  }
}
.embla__slide__number_client {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}